<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Main test">
        <classes>
            <class name="runners.SmokeTestRunner"></class>
            <class name="runners.RegressionTestRunner"></class>
        </classes>
    </test>
</suite>